<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
    div{
        outline: 1px dashed black;
        background-color: #f0f0f0ac;
    }
</style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Action 1</a>
                            <a class="dropdown-item" href="#">Action 2</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex my-2 my-lg-0">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
      </div>
    </nav>
    
  </header>
  <main>
<div class="container">
    <div class="row">
       <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum esse a sint, at inventore temporibus, voluptatibus dolorum aliquam laborum consectetur velit dicta facere doloribus. Voluptas qui voluptatem dignissimos sint voluptatibus?</div>
       <div class="col-3">Dolore, alias cupiditate necessitatibus, exercitationem ratione ab magni autem aliquam facere, maiores est accusantium provident quisquam molestias? Sed, itaque enim earum amet repellat deleniti pariatur temporibus cupiditate quod quos! Illum?</div>
       <div class="col-3">Alias, nam? Enim tempore iusto pariatur temporibus quidem minima, alias voluptatibus inventore libero repellat nobis quasi nam eos consectetur dolore voluptate architecto sequi quos. Hic tempora ex quam distinctio explicabo?</div>
       <div class="col-3">Obcaecati cum eius, qui ipsa voluptatum et quod officia laudantium sunt molestias autem! Consequatur, animi iure! Officia aliquam totam unde iure consequuntur, eum quibusdam fuga architecto, deleniti quisquam eveniet eligendi.</div>
       <div class="col-3">Porro reprehenderit magni id neque rerum assumenda illo, impedit sint aperiam. Animi, nesciunt? Omnis, reprehenderit facilis neque soluta officiis alias veniam, minima deserunt tempora nobis saepe eaque ratione hic perspiciatis!</div>
       <div class="col-3">Necessitatibus vel nihil ullam odit tempore. Consequatur ipsa inventore, delectus numquam reiciendis odio reprehenderit molestiae qui veritatis voluptate tempora in adipisci corrupti illum quae iusto quasi magnam beatae. Quisquam, quasi?</div>
       <div class="col-3">Cumque deserunt qui, obcaecati iste nam impedit culpa omnis nobis repudiandae tempore aspernatur dolore fugit laudantium velit fugiat unde quod placeat harum commodi mollitia. Natus odio praesentium voluptatum voluptates! Aliquid.</div>
       <div class="col-3">Commodi a facilis praesentium ducimus vel consequatur facere consequuntur temporibus eligendi neque nulla deleniti molestiae nihil, corporis delectus quae magnam, placeat quo earum. Hic, veniam. Cum aut dolor voluptas deserunt.</div>
       <div class="col-3">Consectetur itaque illum dolor dolores ab vel corrupti mollitia doloremque quisquam corporis assumenda distinctio ipsum similique explicabo provident tenetur beatae nobis voluptas iure voluptates quasi esse, rem modi! Asperiores, eos!</div>
       <div class="col-3">Optio quasi a nobis non quis beatae, eius neque sunt impedit cum distinctio corrupti unde maiores quisquam recusandae nam assumenda, voluptatum eum vel, mollitia sed? Sequi, ab! Quos, eum ex!</div>
       <div class="col-3">In accusamus eveniet labore vero reprehenderit voluptatem praesentium ipsam, pariatur quia similique quae fuga, earum soluta dignissimos ea, voluptate repellat eaque nemo aperiam minima sint! Quos exercitationem officia porro doloremque!</div>
       <div class="col-3">Porro error vitae totam impedit facere fugit deserunt autem ea doloremque. Laborum fuga ab harum atque totam numquam voluptate omnis labore enim accusantium. Eum, eaque reiciendis. Suscipit error deserunt nam.</div>
       

    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, ipsum, odio unde explicabo, sint culpa cupiditate praesentium beatae nemo harum libero facilis. Sed repellendus facere velit quia modi consequuntur eum!</div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Provident minus fugit quasi. Impedit commodi tenetur autem, alias nobis tempore nostrum explicabo fugit exercitationem sit excepturi itaque, repudiandae tempora similique magni provident culpa quasi officia. Harum saepe officia odio.</div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Atque minus laudantium assumenda officiis odit dignissimos. Quo, ad cum dolorem nobis consectetur earum neque facilis laborum mollitia. Illum, fugiat? Exercitationem optio culpa, autem eaque nihil soluta mollitia explicabo numquam?</div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Delectus quis, doloribus facere iste consectetur quasi non iusto magni quae impedit id eos, quam tenetur quibusdam laborum, doloremque ut similique possimus ad eveniet! Veniam eveniet ab minus fuga quam?</div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Numquam illo iusto vero assumenda fugiat accusamus quasi possimus eveniet! Reiciendis, vel cum repellendus perferendis distinctio illo vitae voluptates facilis. Dolores quibusdam ducimus voluptatibus quis veritatis, omnis deserunt inventore commodi.</div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Rem, laudantium animi earum at error nulla voluptatum ullam mollitia laboriosam asperiores assumenda expedita optio quasi. Modi totam cumque nisi quaerat, ipsam ipsa nostrum asperiores fuga numquam, illum, possimus voluptas.</div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Quo veritatis consequuntur, illo laborum harum doloremque praesentium facere ad saepe nihil similique voluptatem accusantium maxime deserunt officia dolore voluptate mollitia consectetur? Repellat quo, officiis porro voluptates inventore a consequuntur?</div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1">Voluptates officia dolorem ullam necessitatibus natus maxime laudantium aliquam mollitia fugit iusto sunt, a nihil sint temporibus adipisci dignissimos quas accusantium nemo? Fugit, a? Deserunt nesciunt ipsum est aliquam aperiam.</div>
    </div>
</div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>